

.main{
width: 40%;
box-shadow: 1px 1px 10px silver;
margin-top: 45px;
padding: 10px;
}

h2{
    font-family: 'Cairo', sans-serif;
}

input{
    margin-bottom: 10px;
    width: 60%;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
}

button{
border: none;
padding: 10px;
width: 40%;
font-weight: bold;
font-size: 15px;
background-color: #1ac11a;
cursor: pointer;
font-family: 'Cairo', sans-serif;
margin-bottom: 15PX;
}

label{
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    background-color: #1F87CF;
    font-family: 'Cairo', sans-serif;
    color: white;
}
a{
text-decoration: none;
font-size: 20px;
color: tomato;
font-family: 'Cairo', sans-serif;
font-weight: bold;
}